* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: #083b4c;
}

h1 {
    color: white;
    text-align: center;
    font-size: 140px;
    margin-top: 30px;
}

.container {
    max-width: 1600px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

.box1 {
    width: 190px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 19px;
}

.color0 {
    background-color: #0ad6a1;
    font-size: 30px;
}

.color1 {
    background-color: #ffd166;
    font-size: 30px;
}

.color2 {
    background-color: #f0466f;
    font-size: 30px;
}

.color3 {
    background-color: #1389b2;
    font-size: 30px;
}